<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <div class="card">
  <div class="card-body">
    <h2>About Me</h2>
    <p class="text-primary">Hello! My name is Pranay Rathore. I am currently pursuing my B.Tech at SRM Institute of Science and Technology (SRMIST). I am passionate about technology, programming, and continuous learning. My interests include web development, software engineering, and exploring new advancements in the tech world. I enjoy collaborating on projects and am always eager to take on new challenges to grow my skills.</p>
    <p><a href="https://github.com/rathorepranay" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover text-info ">GitHub</a></p>
    <p><a href="www.linkedin.com/in/pranay-rathore-25a394288" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover text-info ">LinkedIn</a></p>

  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>